# Environment variables
.env
.env.*

# Allow example environment file
!.env.example

# Python virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# Logs
*.log

# Operating system files
.DS_Store
Thumbs.db